@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    --cor-1: #F1F6F9;
    --cor-2: #394867;
    --cor-3: #212A3E;
    --cor-4: #9BA4B5;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    height: 100%;
}

header {
    background-color: var(--cor-1);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 4.5rem;
}

nav a {
    transition: 0.3s;
    color: var(--cor-2);
}

a:hover {
    color: var(--cor-4);
}

.logo {
    font-size: 2rem;
    letter-spacing: 2px;
}

.icon {
    display: none;
    cursor: pointer;
    color: var(--cor-2);
}

/* MAIN */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-3);
    color: var(--cor-1);
    height: 91vh;
}

.texto {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    letter-spacing: 3px;
}

.texto div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto-titulo {
    color: var(--cor-4);
    font-size: 1.3rem;
}

.texto a {
    color: var(--cor-4);
}

.texto a:hover {
    color: var(--cor-2);
}

.gato {
    width: 380px;
}

@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 9vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        background-color: var(--cor-1);
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
    }

    .nav-list li {
        margin-left: 0;
    }

    .icon {
        display: block;
    }
    
}

@media (max-width: 600px) {
    .nav-list {
        width: 100vw;
    }
}