@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --cor-1: #F1F6F9;
    --cor-2: #394867;
    --cor-3: #212A3E;
    --cor-4: #9BA4B5;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    height: 100%;
}

header {
    background-color: var(--cor-1);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 4.5rem;
}

nav a {
    transition: 0.3s;
    color: var(--cor-2);
}

a:hover {
    color: var(--cor-4);
}

.logo {
    font-size: 2rem;
    letter-spacing: 2px;
}

.icon {
    display: none;
    cursor: pointer;
    color: var(--cor-2);
}

.part1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8vh 20vw 5vh;
    background-color: var(--cor-1);
}

.text-part1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    letter-spacing: 2.5px;
    width: 350px;
}

.text-part1 h2 {
    font-size: 32px;
}

.text-part1 p span {
    color: #05BFDB;
    font-weight: 600;
}

.img-part1 {
    width: 240px;
}

.part2 {
    background-color: var(--cor-3);
    color: var(--cor-1);
    height: 700px;
}

.part2 .title-part2 p {
    text-align: center;
    padding: 3rem 0 100px;
    font-size: 25px;
    letter-spacing: 2px;
}

.part2-cont {
    display: flex;
    justify-content: space-around;
    padding: 5vh 300px;
    gap: 80px;
}

.part2-text {
    width: 300px;
}

.part2-text a {
    color: var(--cor-4);
}

.img-div-part2 img {
    width: 300px;
}

footer {
    background-color: var(--cor-1);
    color: var(--cor-1);
}

@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 9vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        background-color: var(--cor-1);
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
    }

    .nav-list li {
        margin-left: 0;
    }

    .icon {
        display: block;
    }
    
}

@media (max-width: 600px) {
    .nav-list {
        width: 100vw;
    }
}